<h1>Editing student</h1>

<p id="notice"><%= flash[:notice] %></p>

<%= render 'form' %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>

</br></br>
* Passwort immer angeben, um die Einstellungen zu &uuml;bernehmen.
